body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://wallpapercave.com/wp/wp5347714.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1,h2,h3,p{
  color: white;
}

img{
  border-radius: 5px;
}